@import '/src/assets/sass/utilities/variables.scss';
@import '/src/assets/sass/components/header.scss';

* {
  font-family: 'Roboto mono', sans-serif;
}

body {
  background-color: $background-color;
  color: white;
  margin: 0;
}

p {
  margin: 0;
}

.main-container {
  min-width: 320px;
  box-sizing: border-box;
  width: 100%;
}



