@keyframes arrival {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(50px);
    opacity: 1;
  }
}

@keyframes arrow-animation {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes card-animation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(10px);
  }
}

@keyframes about-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes about-animation-p {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveSkills {
  0% {
    opacity: 0;
    transform: translate(0, -50px); /* Position de départ */ 
  }
  20% {
    opacity: 1;
    transform: translate(0, 40px);
  }
  40% {
    opacity: 1;
    transform: translate(-90px,-50px);
  }
  60% {
    opacity: 1;
    transform: translate(0px, -115px);
  }
  80% {
    opacity: 0.5;
    transform: translate(115px, -50px);
  }
  100% {
    opacity: 0;
    transform: translate(0, -50px); /* Retour à la position de départ */
  }
}

// @keyframes load {
//   0% {
//     width: 0;
//   }
//   100% {
//     width: 100%;
//   }
// }