.about {
  width: 100%;
  max-width: 1224px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;

  &__image {
    img {
      width: 450px;
      border-radius: 80px;
      filter: blur(2px);
    }
  }

  &__text {
    position: absolute;
    left: 350px;
    top: 130px;
    right: 180px;
    line-height: 1.7;
    padding-left: 20px;

    &--title {
      padding-bottom: 15px;
      font-size: 34px;
      padding-left: 80px;
      position: relative;
      overflow: hidden;
      animation: arrival 3s forwards;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;

  &__arrow {
    top: -40px;
    rotate: 30deg;
    position: absolute;
    cursor: pointer;
    width: 80px;
    padding-top: 20px;
    align-items: center;
  }
}
