.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.modal {
  width: 70%;
  max-height: 90vh;
  background-color: rgba(34, 34, 35, 0.985);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .fa-solid.fa-circle-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  &__title h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    span {
      color: $green-color;
    }
  }

  &__img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Add margin to separate from text */

    img {
      max-width: 60%;
      border-radius: 20px;
    }
  }

  &__details {
    text-align: center;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    &--description {
      max-width: 50%;
      min-width: 50%;
      font-size: 14px;
      padding-left: 20px;
    }

    &--skills {
      display: flex;
      min-height: 20vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      position: relative;
      

      h3 {
        padding: 7px;
        font-size: 13px;
        border: solid 1px $blue-color;
        background-color: $blue-color;
        border-radius: 20px;
        z-index: 20;
      }

      img {
        width: 62%;
        padding-left: 5px;
        animation: moveSkills 10s linear infinite;
        position: absolute;
        right: 12px;
        opacity: 0;
      }
    }

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-right: 20px;

      i {
        font-size: 35px;
      }
    }
  }
}
