.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($background-color, 0.5);
  z-index: 1000;
  overflow: auto;
}

.modal {
  width: 70%;
  max-height: 90vh;
  background-color: rgba($background-color, 0.985);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  .fa-solid.fa-circle-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: $text-color;
  }
  .fa-solid.fa-circle-xmark:hover {
    color: $yellow-color;
  }


  &__title h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

    img {
      max-width: 60%;
      border-radius: 20px;
    }
  }

  &__details {
    text-align: center;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    &--description {
      max-width: 50%;
      min-width: 50%;
      font-size: 14px;
      padding-left: 20px;
    }

    &--skills {
      display: flex;
      min-height: 20vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      position: relative;

      h3 {
        padding: 7px;
        font-size: 13px;
        border: solid 1px $border-color;
        background-color: $secondary-color;
        border-radius: 20px;
        z-index: 20;
        color: white;
      }

      img {
        width: 62%;
        padding-left: 5px;
        animation: moveSkillsModale 10s linear infinite;
        position: absolute;
        right: 12px;
        opacity: 0;
      }
    }

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-right: 20px;

      i {
        font-size: 35px;
      }
      i:hover {
        color: $yellow-color;
      }
    }
  }

  @media (max-width: 1024px) {
    &__details {
      &--description {
        font-size: 12px;
      }
      &--skills {
        img {
          width: 50%;
          animation: moveSkillsModaleMobile 10s linear infinite;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    &__details {
      &--description {
        padding-left: 0;
        font-size: 10px;
      }
      &--skills {
        img {
          width: 40%;
          animation: none;
          opacity: 1;
          position: static;
        }
      }
    }
  }
  @media (max-width: 480px) {
    font-size: 8px;

    &__img {
      margin-bottom: 0;
    }

    &__details {
      &--link {
        padding-right: 0;
        i {
          font-size: 20px;
        }
      }
      &--skills {
        h3 {
          padding: 4px;
          font-size: 9px;
        }
        img {
          width: 30%;
        }
      }
    }
  }
}
