.projects {
  padding-top: 100px;
  margin: auto;
  width: 100%;
  max-width: 1224px;

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  a {
    width: calc(33.33% - 40px);
    background-color: rgba(136, 136, 136, 0.05);
    border-radius: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow-wrap: break-word;
    position: relative;
  }

  &__single {
    &--content {
      width: 100%;
    }

    &--img {
      img {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
        object-position: center top;
      }
    }

    &--details {
      padding: 5px 20px 10px 20px;
      pointer-events: none;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.5;
        display: flex;
        justify-content: end;
      }

      p::after {
        content: "";
        position: absolute;
        bottom: 21px;
        left: 100px;
        width: 30%;
        height: 2px;
        background-color: #e84175;
      }
    }
  }
}
