.about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding-top:80px;
  position: relative;

  &__image {
    img {    
      width: 450px;
      border-radius: 80px;
      filter: blur(2px);
    }
  }

  &__text {
    position: absolute;
    left: 350px;
    top: 183px;
    line-height: 1.7;
  }
}
